<html>

<head>



</head>

<body>

<h1> Pledging Motive: </h1>
<h3> <%- Title %> </h3>

<p> Amount to Pledge: </p>

<form action="/pledge/<%- id %>" method="POST">

<input name='Amount' type='number'>  </input>
<input type="submit" value="Pledge">

</form>

</body>

</html>